PORT = 8080 /* Modifique el puerto*/
MYSQL_USER= /* Modifique su usuario administrador*/
MYSQL_PASSWORD = /* Modifique por su contraseña de administrador*/
MYSQL_DATABASE = dice /* Modifique el nombre de la BD*/
MYSQL_HOST = localhost /* Modifique la dirección del host*/
MYSQL_PORT = 3306 /* Modifique el puerto de host*/
MYSQL_DIALECT = mysql /* mysql por defecto*/