.SplitPane {
    width: 100%;
    max-width: 1080px;
    height: 100%;
    margin: auto;
  }
  
  .SplitPane-left {
    float: left;
    width: 20%;
    height: 100%;
    margin-left:1px
  }
  
  .SplitPane-middle {
    float: left;
    width: 60%;
    height: 100%;
    margin-left:1px
  }
  
  .SplitPane-right {
    float: left;
    width: 20%;
    height: 100%;
  }
